<div class="container mt-4">

    <div class="row" *ngIf="selectedCharacter; else Loading">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-outline-light my-2" (click)="GoBack()">Go Back</button>
                        </div>
                        <div class="col-8 text-center">
                            <h1 class="card-title">{{selectedCharacter.name ? selectedCharacter.name : 'Nameless'}}
                            </h1>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12" id="left-column">
                            <div class="container">
                                <div class="row px-2">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-2"><label
                                            class="mx-2">Lived: </label> <br>{{ selectedCharacter.born ?
                                        selectedCharacter.born : 'Unknown' }} - {{ selectedCharacter.died ?
                                        selectedCharacter.died : 'Unknown' }}</div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-2"><label class="mx-2">Mother:
                                        </label> <br> <app-character [chr]=mother></app-character></div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-2"><label class="mx-2">Father:
                                        </label> <br><app-character [chr]=father></app-character></div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-2"><label class="mx-2">Spouse:
                                        </label> <br><app-character [chr]=spouse></app-character></div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-2"><label
                                            class="mx-2">Culture: </label> <br> {{selectedCharacter.culture ?
                                        selectedCharacter.culture : 'Unknown'}}</div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-2"><label class="mx-2">Gender:
                                        </label> <br> {{selectedCharacter.gender ?
                                        selectedCharacter.gender : 'Unknown'}}</div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 my-2">
                                        <label class="mx-2">Played By</label>
                                        <div *ngIf="selectedCharacter.tvSeries[0]; else noSeries">
                                            <ul>
                                                <li *ngFor="let actor of selectedCharacter.playedBy">{{actor}}</li>
                                            </ul>
                                        </div>
                                        <ng-template #noSeries>
                                            <p>Actors unknown</p>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row my-2">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <h4 class="text-center">Titles</h4>
                                    <div *ngIf="selectedCharacter.titles[0]; else noTitles">
                                        <ul>
                                            <li *ngFor="let title of selectedCharacter.titles">{{title}}</li>
                                        </ul>
                                    </div>
                                    <ng-template #noTitles>
                                        <p>No titles</p>
                                    </ng-template>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <h4 class="text-center">Aliases</h4>
                                    <div *ngIf="selectedCharacter.aliases.length > 0; else noAliases">
                                        <ul>
                                            <li *ngFor="let alias of selectedCharacter.aliases">{{alias}}</li>
                                        </ul>
                                    </div>
                                    <ng-template #noAliases>
                                        <p>No Aliases</p>
                                    </ng-template>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <h4 class="text-center">Allegiances</h4>
                                    <div *ngIf="allegiances[0]; else noAllegiances">
                                        <ul>
                                            <li *ngFor="let ally of allegiances"><app-base-house
                                                    [baseHouse]=ally></app-base-house></li>
                                        </ul>
                                    </div>
                                    <ng-template #noAllegiances>
                                        <p>No Allegiances</p>
                                    </ng-template>
                                </div>
                                <hr>
                                <div class="col-xs-12">
                                    <div class="my-2">
                                        <div class="card-header">
                                            <h4 class="card-title text-center">Books</h4>
                                        </div>
                                        <div *ngIf="books[0]; else noBooks">
                                            <div class="card-body">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4"
                                                            *ngFor="let book of books">
                                                            <app-base-book [book]=book></app-base-book>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #noBooks>
                                        <p>No Books</p>
                                    </ng-template>
                                </div>
                                <hr>
                                <div class="col-xs-12">
                                    <h4 class="text-center">POV Books</h4>
                                    <div *ngIf="povbooks[0]; else noPOVBooks">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4"
                                                    *ngFor="let book of povbooks">
                                                    <app-base-book [book]=book></app-base-book>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #noPOVBooks>
                                        <p>No POV Books</p>
                                    </ng-template>
                                </div>
                                <hr>
                                <div class="col-xs-12">
                                    <h4 class="text-center">Starred in</h4>
                                    <div *ngIf="selectedCharacter.tvSeries[0]; else noSeries">
                                        <div class="container">
                                            <div class="row">
                                                <div  class="col-xs-12 col-sm-4 col-md-3" *ngFor="let season of selectedCharacter.tvSeries">
                                                    <p class="text-center">{{season}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #noSeries>
                                        <p>No TV Series</p>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #Loading>
        <h1 [ngStyle]="{'color' : 'white'}">Retrieving Character Details</h1>
    </ng-template>
</div>