<button (click)="GoBack()">Go Back</button>
<!-- <div *ngIf="selectedHouse; Loading" >
  <div *ngIf="currentCharacter$ | async as character ">

  
  <h2>{{ selectedHouse.name }}</h2>

    <p>Region: {{ selectedHouse.region }}</p>
    <p>Coat of Arms: {{ selectedHouse.coatOfArms }}</p>
    <p>Words: {{ selectedHouse.words }}</p>
    <h4>Titles</h4>
  <p *ngFor="let title of selectedHouse.titles"> - {{title}}</p>
  <h4>Seats</h4>
  <p *ngFor="let seat of selectedHouse.seats"> - {{seat}}</p>
  <h4>Current Lord</h4>
  <app-character [chr]=currentLord></app-character>

  <h4>Heir</h4>
  <app-character [chr]=heir></app-character>
  <h4>Overlord</h4>
  <app-base-house [baseHouse]=overlord></app-base-house >
  <h4>Founded</h4>
  <p> - {{selectedHouse.founded}}</p>
  <h4>Founder</h4>
  <app-character  [chr]=founder></app-character>
  <h4>Ancestral Weapons</h4>
  <p *ngFor="let weapon of selectedHouse.ancestralWeapons"> - {{weapon}}</p>
  <h4>Cadet Branches</h4>
  <app-base-house *ngFor="let cadet of cadetBranches" [baseHouse]=cadet></app-base-house>
  <h4>Sworn Members</h4>
  <app-character *ngFor="let member of swornMembers" [chr]=member></app-character>

</div>
</div> -->
<div class="container-fluid">
  <!-- <div class="row" *ngIf="selectedHouse">
    <div class="col-md-12">
      <h3 class="text-center">
        {{selectedHouse.name}}
      </h3>
      
      <div class="row">
        <div class="col-md-4">
          <div class="card my-2">
            <h5 class="card-header">
              Region
            </h5>
            <div class="card-body">
              <p class="card-text">
                {{ selectedHouse.region }}
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Heir
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-character [chr]=heir></app-character>
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Founder
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-character [chr]=founder></app-character>
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Current Lord
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-character [chr]=currentLord></app-character>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card my-2">
            <h5 class="card-header">
              Coat of Arms
            </h5>
            <div class="card-body">
              <p class="card-text">
                {{ selectedHouse.coatOfArms }}
              </p>
            </div>
          </div>

          <div class="card my-2">
            <h5 class="card-header">
              Seats
            </h5>
            <div class="card-body">
              <ul  *ngIf="selectedHouse.seats.length > 0">

                <li class="card-text" *ngFor="let seat of selectedHouse.seats">
                  {{seat}}
                </li>
              </ul>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Cadet Branches
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-base-house *ngFor="let cadet of cadetBranches" [baseHouse]=cadet></app-base-house>
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Ancestral Weapons
            </h5>
            <div class="card-body">
              <ul *ngIf="selectedHouse.ancestralWeapons.length > 0">
                <li class="card-text" *ngFor="let weapon of selectedHouse.ancestralWeapons">
                  {{weapon}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">

          <div class="card my-2">
            <h5 class="card-header">
              Overlord
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-base-house [baseHouse]=overlord></app-base-house>
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Founded
            </h5>
            <div class="card-body">
              <p class="card-text">
                {{selectedHouse.founded}}
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Words
            </h5>
            <div class="card-body">
              <ul *ngIf="selectedHouse.titles.length > 0">

                <li class="card-text" *ngFor="let title of selectedHouse.titles">
                  {{title}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card my-2">
      <h5 class="card-header">
        Sworn Members
      </h5>
      <div class="card-body">
          <div class="col-md-4" *ngFor="let member of swornMembers">
            <app-character [chr]="member"></app-character>
          </div>
      </div>
    </div>
  </div> -->
  <div class="row" *ngIf="selectedHouse; else Loading">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header text-center">
            <h1 class="card-title">{{selectedHouse.name ? selectedHouse.name : 'Nameless'}} </h1>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-4">
                <div class="row px-2">

                  <div class="col-12 my-2"><label for="">Region:</label> <h6>{{ selectedHouse.region ?
                    selectedHouse.region : 'Unknown' }} </h6></div>
                  <div class="col-12 my-2"><label for="">Heir: </label> <app-character
                      [chr]=heir></app-character></div>
                  <div class="col-12 my-2"><label for="">Founder: </label><app-character
                      [chr]=founder></app-character></div>
                  <div class="col-12 my-2"><label for="">Current Lord: </label><app-character
                      [chr]=currentLord></app-character></div>
                  <div class="col-12 my-2"><label for="">Coat of Arms:</label> {{selectedHouse.coatOfArms ?
                    selectedHouse.coatOfArms : 'Unknown'}}</div>
                  <div class="col-12 my-2"><label for="">Overlord: </label><app-base-house
                      [baseHouse]=overlord></app-base-house> </div>
                  <div class="col-12 my-2"><label for="">Founded: </label> {{selectedHouse.founded ?
                    selectedHouse.founded :
                    'Unknown'}}</div>
                    <div class="col-12 my-2"><label for="">Died Out: </label> {{selectedHouse.diedOut ?
                      selectedHouse.diedOut :
                      'Unknown'}}</div>
                    <div class="col-12 my-2"><label for="">House Words: </label> {{selectedHouse.words ?
                      selectedHouse.words :
                      'Unknown'}}</div>
                </div>
              </div>
              <div class="col-sm-12 col-md-8">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <h4>Seats</h4>
                    <div *ngIf="selectedHouse.seats.length > 0; else noSeats">
                      <ul>
                        <li *ngFor="let title of selectedHouse.titles">{{title}}</li>
                      </ul>
                    </div>
                    <ng-template #noSeats>
                      <p>No seats</p>
                    </ng-template>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <h4>Cadet Branches</h4>
                    <div *ngIf="cadetBranches.length > 0; else noCadetBranches">
                      <ul>
                        <li *ngFor="let branch of cadetBranches"><app-base-house [baseHouse]=branch></app-base-house></li>
                      </ul>
                    </div>
                    <ng-template #noCadetBranches>
                      <p>No Cadet Branches</p>
                    </ng-template>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <h4>Ancestral Weapons</h4>
                    <div *ngIf="selectedHouse.ancestralWeapons[0]; else noAncestralWeapons">
                      <ul>
                        <li *ngFor="let weapon of selectedHouse.ancestralWeapons">{{weapon}}</li>
                      </ul>
                    </div>
                    <ng-template #noAncestralWeapons>
                      <p>No Ancestral Weapons</p>
                    </ng-template>
                  </div>  
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <h4>Titles</h4>
                    <div *ngIf="selectedHouse.titles[0]; else noTitles">
                      <ul>
                        <li *ngFor="let title of selectedHouse.titles">{{title}}</li>
                      </ul>
                    </div>
                    <ng-template #noTitles>
                      <p>No Ancestral Weapons</p>
                    </ng-template>
                  </div>                 
                  <div class="col-12">
                    <div class="my-2">
                      <h5 class="card-header">
                        Sworn Members
                      </h5>
                      <div class="card-body">
                        <div class="col-md-4" *ngFor="let member of swornMembers">
                          <app-character [chr]="member"></app-character>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #Loading>
    <h1>Retrieving House Details</h1>
  </ng-template>
</div>