<button (click)="GoBack()">Go Back</button>
<!-- <div *ngIf="selectedHouse; Loading" >
  <div *ngIf="currentCharacter$ | async as character ">

  
  <h2>{{ selectedHouse.name }}</h2>

    <p>Region: {{ selectedHouse.region }}</p>
    <p>Coat of Arms: {{ selectedHouse.coatOfArms }}</p>
    <p>Words: {{ selectedHouse.words }}</p>
    <h4>Titles</h4>
  <p *ngFor="let title of selectedHouse.titles"> - {{title}}</p>
  <h4>Seats</h4>
  <p *ngFor="let seat of selectedHouse.seats"> - {{seat}}</p>
  <h4>Current Lord</h4>
  <app-character [chr]=currentLord></app-character>

  <h4>Heir</h4>
  <app-character [chr]=heir></app-character>
  <h4>Overlord</h4>
  <app-base-house [baseHouse]=overlord></app-base-house >
  <h4>Founded</h4>
  <p> - {{selectedHouse.founded}}</p>
  <h4>Founder</h4>
  <app-character  [chr]=founder></app-character>
  <h4>Ancestral Weapons</h4>
  <p *ngFor="let weapon of selectedHouse.ancestralWeapons"> - {{weapon}}</p>
  <h4>Cadet Branches</h4>
  <app-base-house *ngFor="let cadet of cadetBranches" [baseHouse]=cadet></app-base-house>
  <h4>Sworn Members</h4>
  <app-character *ngFor="let member of swornMembers" [chr]=member></app-character>

</div>
</div> -->
<ng-template #Loading>
  <h1>Retrieving house Detail</h1>
</ng-template>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center">
        {{selectedHouse.name}}
      </h3>
      <div class="row">
        <div class="col-md-4">
          <div class="card my-2">
            <h5 class="card-header">
              Region
            </h5>
            <div class="card-body">
              <p class="card-text">
                {{ selectedHouse.region }}
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Heir
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-character [chr]=heir></app-character>
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Founder
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-character [chr]=founder></app-character>
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Current Lord
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-character [chr]=currentLord></app-character>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card my-2">
            <h5 class="card-header">
              Coat of Arms
            </h5>
            <div class="card-body">
              <p class="card-text">
                {{ selectedHouse.coatOfArms }}
              </p>
            </div>
          </div>

          <div class="card my-2">
            <h5 class="card-header">
              Seats
            </h5>
            <div class="card-body">
              <ul  *ngIf="selectedHouse.seats.length > 0">

                <li class="card-text" *ngFor="let seat of selectedHouse.seats">
                  {{seat}}
                </li>
              </ul>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Cadet Branches
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-base-house *ngFor="let cadet of cadetBranches" [baseHouse]=cadet></app-base-house>
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Ancestral Weapons
            </h5>
            <div class="card-body">
              <ul *ngIf="selectedHouse.ancestralWeapons.length > 0">
                <li class="card-text" *ngFor="let weapon of selectedHouse.ancestralWeapons">
                  {{weapon}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">

          <div class="card my-2">
            <h5 class="card-header">
              Overlord
            </h5>
            <div class="card-body">
              <p class="card-text">
                <app-base-house [baseHouse]=overlord></app-base-house>
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Founded
            </h5>
            <div class="card-body">
              <p class="card-text">
                {{selectedHouse.founded}}
              </p>
            </div>
          </div>
          <div class="card my-2">
            <h5 class="card-header">
              Words
            </h5>
            <div class="card-body">
              <ul *ngIf="selectedHouse.titles.length > 0">

                <li class="card-text" *ngFor="let title of selectedHouse.titles">
                  {{title}}
                </li>
              </ul>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="card my-2">
      <h5 class="card-header">
        Sworn Members
      </h5>
      <div class="card-body">
          <div class="col-md-4" *ngFor="let member of swornMembers">
            <app-character [chr]="member"></app-character>
          </div>
      </div>
    </div>
  </div>
</div>