.nav-link {
    font-family: 'Game of Thrones', sans-serif;
  }

  /* Change color of link texts */
  .nav-link {
    color: white;
  }

  /* Change color of link texts on hover */
  .nav-link:hover {
    color: gold;
  }

  /* Change font size of link texts */
  .nav-link {
    font-size: 20px;
  }

  img{
    color:white
  }
