/* You can add global styles to this file, and also import other style files */

body{
    background: radial-gradient(#000000, #212529);
    animation: fadeIn 1 1s ease-out;
  }
  .light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1ba 0px 0px 30px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
  }
  
  .x1 {
  
    animation: floatUp 4s infinite linear;
  
    transform: scale(1.0);
  }
  
  .x2 {
  
    animation: floatUp 7s infinite linear;
    transform: scale(1.6);
    left: 15%;
  }
  
  .x3 {
    animation: floatUp 2.5s infinite linear;
    transform: scale(.5);
    left: -15%;
  }
  
  .x4 {
    animation: floatUp 4.5s infinite linear;
    transform: scale(1.2);
    left: -34%;
  }
  
  .x5 {
  
    animation: floatUp 8s infinite linear;
    transform: scale(2.2);
    left: -57%;
  }
  
  .x6 {
  
    animation: floatUp 3s infinite linear;
    transform: scale(.8);
    left: -81%;
  }
  
  .x7 {
    animation: floatUp 5.3s infinite linear;
    transform: scale(3.2);
    left: 37%;
  }
  
  .x8 {
    animation: floatUp 4.7s infinite linear;
    transform: scale(1.7);
    left: 62%;
  }
  
  .x9 {
    animation: floatUp 4.1s infinite linear;
    transform: scale(0.9);
    left: 85%;
  }
  
  
  @keyframes floatUp {
    0% {
        top: 100vh;
        opacity: 0;
    }
  
    25% {
        opacity: 1;
    }
  
    50% {
        top: 0vh;
        opacity: .8;
    }
  
    75% {
        opacity: 1;
    }
  
    100% {
        top: -100vh;
        opacity: 0;
    }
  }