<div class="container-fluid">
    <div class=""id="sticky-container">
        <app-pagination pagnination="house"></app-pagination>
    </div>

    <div class="row results" *ngIf="houses;else isLoading">
        <div *ngFor="let house of houses;let i = index" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-2" (click)="SelectedHouse(house.name)">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">{{house.name}}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">

                            <h4>Region: </h4>
                            <h6>{{house.region ? house.region : 'Unknown'}}</h6>
                        </div>
                        <div class="col-md-6">

                            <h4>Words: </h4>
                            <h6>{{house.words ? house.words : 'Unknown'}}</h6>
                        </div>
                        <hr>
                        <div class="col-xs-12">

                            <h4>Coat of Arms: </h4>
                            <h6> {{house.coatOfArms ? house.coatOfArms : 'Unknown'}}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #isLoading>
        <div class="text-center">
            <h3 [ngStyle]="{'color' : 'white'}">Busy Fetching The Might Houses</h3>
        </div>
    </ng-template>
</div>